
.icon-mail:before { content: '\2709'; } /* '✉' */
.icon-twitter-circled:before { content: '\f30a'; } /* '' */
.icon-facebook-circled:before { content: '\f30d'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */